.spazioFooter{
    height: 2vh;
}

.sfondo{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.563), rgba(255, 255, 255, 0.3)), url(/public/media/sfondo.jpg);
    background-position: center;
    background-size: cover;
}

.font-h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.font-h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

.sfondo-titoli{
    background-color: rgb(248, 248, 249)
}